<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>задание 2</title>
  <link rel="stylesheet" href="css/номер 2.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="images.css" media="screen" title="no title" charset="utf-8">

</head>

<body>

  <div class="container">
    <div class="item">

    <img src="./images/лак.jpg" alt="" />
    <h1>Блогеры</h1>
    <h2>
      <a href="#">
<strong>РАССКАЖУТ ВСЕ СЕКРЕТЫ,</strong>
<span>которые вы хотели знать</span>

      </a>
    </h2>
    </div>

<div class="item">

      <img src="./images/блогеры.jpg" alt="" />
      <h1>весна</h1>
      <h2>
      <a href="#">
<strong>ТОП ЛУЧШИХ,</strong>
<span>цветов,которых можно собрать красивый букет</span>

      </a>
    </h2>
      </div>
<div class="item">
        <img src="./images/кот.jpg" alt="" />
        <h1>животные</h1>
        <h2>
      <a href="#">
<strong>САМЫЕ МИЛЫЕ,</strong>
<span>котики этого года .</span>

      </a>
    </h2>
      </div>
        <div class="item">
          <img src="./images/кофты.jpg" alt="" />
          <h1>мода</h1>
          <h2>
      <a href="#">
<strong>ТРЕНДОВЫЕ ВЕЩИ,</strong>
<span>самого хорошего качества .</span>

      </a>
    </h2>
      </div>
</body>

</html>
