* {
  box-sizing: border-box;
}
.intro {
  width: 1000px;
  height: 600px;
  background: rgb(196, 231, 154);
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  width: 400px;
  height: 350px;
  background: rgb(41, 77, 0);
  margin-bottom: 30px;
  margin-left: 280px;
  margin-top: 70px;
}
.paragraph {
  width: 700px;
  height: 450px;
  background: rgb(148, 193, 96);
  margin-left: 130px;
  margin-bottom: 150px;
}
.item {
  width: 150px;
  height: 150px;
  background: rgb(32, 121, 79);
  margin-right: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.items {
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
