* {
  box-sizing: border-box;
}
.container {
  margin-top: 100px;
}
.intro {
  width: 1000px;
  height: 600px;
  background: rgb(196, 231, 154);
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  width: 300px;
  height: 60px;
  background: rgb(41, 77, 0);
  margin-bottom: 40px;
  margin-left: 350px;
}
.paragraph {
  width: 600px;
  height: 80px;
  background: rgb(148, 193, 96);
  margin-left: 200px;
  margin-bottom: 300px;
}
.item {
  width: 150px;
  height: 150px;
  background: rgb(32, 121, 79);
  margin-right: 50px;
  margin-bottom: 400px;
  margin-left: 50px;
  margin-top: 100px;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
}
