* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.main {
  display: flex;
  width: 700px;
  position: relative;
  background-color: rgb(196, 231, 154);
}
.text {
  width: 400px;
  padding-left: 40px;
  padding-top: 20px;
  display: block;
  align-items: center;
}
.logo {
  width: 120px;
  height: 25px;
  background-color: rgb(41, 77, 0);
}
.links {
  display: flex;
  margin-top: 20px;
}
.link {
  height: 20px;
  width: 60px;
  background-color: rgb(41, 77, 0);
  margin-right: 20px;
}
.header {
  display: block;
  margin-top: 80px;
  font-size: 30px;
  font-family: 'Arial Bold', sans-serif;
  color: rgb(41, 77, 0);
}
.paragraph {
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  margin-top: 15px;
  color: rgb(41, 77, 0);
}
.figure {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  background: rgb(41, 77, 0);
  border-radius: 100px;
}
@media screen and (max-width:620px)
