* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background: rgb(196, 231, 154);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > div {
  max-width: 1000px;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 15px;
}
.container {
  width: 100%;
  ;
  margin: 0 auto;
}
.logo {
  width: 200px;
  height: 40px;
  background: rgb(71, 116, 19);
}
.menu {
  display: flex;
}
.menu-item {
  flex-direction: row;
  width: 40px;
  height: 40px;
  background: rgb(107, 154, 51);
  margin: 5px;
  margin-top: 2px;
}
.intro {
  width: 100%;
  height: 300px;
  background: rgb(41, 77, 0);
  margin: 10px;
}
.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.secondary-item {
  width: 100%;
  height: 100px;
  background: rgb(41, 77, 0);
  margin: 5px;
  flex-grow: 1;
}
.footer {
  width: 100%;
  height: 100px;
  background: rgb(41, 77, 0);
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.secondary-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 620px) {
  .container {
    width: 150px;
  }
  .intro {
    width: 450px;
  }
  .footer {
    width: 500px;
  }
}
